@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
/*task font*/
  color:rgb(138, 0, 0);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: bolder;
}

.desc{
  display: block;
  align-content: center;
  justify-content: center;
  margin-left: 600px;
  font-size: x-large;
  margin-top: 100px;
  font-style: oblique;
}
body,
html {
  background-color:lightcyan ;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration:wavy;
}

ul {/*task list*/ 
  background-color:lightcyan; 
  list-style: none;
  text-align: center;
}

ul li a {/*Delete's bg*/
  background-color:rgb(153, 218, 255);
}

#app {/*the to do box*/
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-weight: bold;
	display: flex;
	justify-content: space-around;
	width: 600px;
	margin: 0 auto;
	height: 450px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#app #box {/*the container*/
    border-top: 50px;
  background-color:rgb(124, 101, 255);
  padding: 25px;
  border-radius: 30px;
  max-width: 600px;
  margin: 25px 25px 50px;
  z-index: 2;
  /*
	background-color: var(--title);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
*/
}

#app-list li {
  line-height: 1.7;
}

#app-list li:not(:last-child) {
  margin-bottom: 10px;
}

#app-list li a {/*delete button*/
  font-weight: bolder;
   text-transform: uppercase; 
  color:rgb(0, 0, 0);
  margin-left: 20px;
  border-radius: 5px;
}

#app #box h1 {/*heading*/
  text-align: center;
  font-size: 36pt;
  color: #ffffff;
  background-color:rgb(124, 101, 255);
}

/* #app #title {
  background-color:rgb(228, 159, 76);
  color:blue;
  padding: 0 5px;
  margin: 0;
  border-radius: 5px;
} */

#app #box #form {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
}

#form input,
#form button {/*input and the button*/
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  border: none;
  outline: none;
  text-align: center;
}

#form input {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 200px;
}

#form button {
  background-color:antiquewhite;
  border-radius: 30px;
  border-style:outset
  font-weight: 700;
  cursor: pointer;
}

#form button i {/*plus sign*/
  color:rgb(61, 8, 8);
  font-weight: 700;
  margin-right: 5px;
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

footer p {
  color: var(--paragraph);
  text-align: center;
} */